body {
  margin: 0;
}

.toggle-dark.react-toggle--checked .react-toggle-track {
  background-color: #4d4d4d !important;
}

.toggle_icon {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  width: 10px;
}
